// =============================================================================
// Font stacks
// =============================================================================
$font-stack--heading: Syncopate, Arial, sans-serif;
$font-stack--content: Raleway, Helvetica, sans-serif;

// =============================================================================
// Background colors
// =============================================================================
$bg-color: #DED7D7;

body {
   header {
      color: white;
      > h1 {
         font-family: $font-stack--heading;
         font-size: 60px;
         margin-top:280px;
         margin-left: 200px;
         margin-bottom: 5px;
      }

      > p {
         font-family: $font-stack--heading;
         font-size: 24px;
         margin-left: 320px;
      }
   }

   nav {
      ul {
         display: flex;
         width: 500px;
         margin-top:24px;
         margin-left: 500px;
      }

      li {
         text-align: center;
         width: 100px;
      }

      a {
         font-family: $font-stack--content;
         text-decoration: none;
         color: white;
         font-size: 20px;
      }
   }
}

#page {
   &--home {
      background: $bg-color url("../img/ship.jpg");
   }

   &--about {
      background: $bg-color;

      p {
         font-family: $font-stack--content;
         margin-top:200px;
         margin-left: 50px;
         margin-right:50px;
         line-height: 1.2;
      }

      img {
         border-radius: 50%;
      }

      nav {
         a {
            color: black;
         }
      }
   }

   &--portfolio {
      background: $bg-color;

      nav {
         a {
            color:black;
         }
      }
   }
}
